// Base styles:
html
  font-size 18px
  line-height 1.4em
  font-family $font-stack-main
  *
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-tap-highlight-color transparent
