// Base styles:
html
  font-size 18px
  line-height 1.4em
  font-family $font-stack-main
  background-color $dark
  *
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-tap-highlight-color transparent
    transition-duration 0.3s
    transition-timing-function ease-in-out
    transition-delay 0s
    transition-property none

hr
  border none
  border-top 1px solid lighten($accent, 50%)
  max-width em(440)
  margin 2em 0 2em auto
