footer
  background-color $dark
  color #fff
  position relative
  z-index 2
  h2
    @media (min-width 850px)
      font-size em(36, 18)
      max-width em(800 - 440, 36) - 0.6em
      margin-top 0 !important
      text-align right
      float left
  p, ul, ol
    line-height em(29)
    max-width em(440)
    margin-left auto
    @media (min-width 850px)
      padding-top 0.65em
      & + p, & + ul, & + ol
        padding-top 0
  li
    font-weight 700
    & + li
      margin-top 0.6em
  a
    color $accent
    text-decoration underline
