header
  background-color $dark
  color #fff
  padding 30% 1.6em 20%
  h1
    span
      white-space nowrap
  a
    display block
    padding 0.4em 0.6em
    margin 1.6em 0
    background-color $accent
    color $dark
    text-indent 0
    text-align center
    border-radius 1.5px
  p
    text-indent 0
    line-height em(34, 22)
    font-size em(22)
  .enhanced &
    hostile_takeover(fixed)
    z-index 1
    overflow auto
