fieldset
  legend Tell us about you
  label(for='full_name') Your full name:
  input(name='full_name' required=true)

  label(for='email') Your email:
  input(name='email' required=true)

  label(for='organization_or_project') Name of your organization or project: #[small (optional)]
  input(name='organization_or_project')

  label(for='How did you hear about Small Batch?') How did you hear about Small Batch? #[small (optional)]
  textarea(name='How did you hear about Small Batch?')
