fieldset
  legend Tell us about you
  label(for='full_name') Your full name:
  input(type='text' name='full_name' required=true)

  label(for='email') Your email:
  input(type='email' name='email' required=true)

  label(for='organization_or_project') Name of your organization or&nbsp;project:&nbsp;#[small Optional]
  input(type='text' name='organization_or_project')

  label(for='How did you hear about Small Batch?') How did you hear about Small&nbsp;Batch?&nbsp;#[small Optional]
  textarea(name='How did you hear about Small Batch?')
