include mixins

form(method='POST' action='/#tell-us-about-your-project')#contact-form
  include message
  include contact_information
  include project_questions
  include project_timeline

  button(type='submit' tabindex=tabindex) Send my answers

//- script.
  var fields = document.querySelectorAll('[required]');
  for (var i = fields.length - 1; i >= 0; i--) {
    fields[i].removeAttribute('required');
    if (fields[i].type == 'email') { fields[i].type = 'text' }
  }
