fieldset
  legend Tell us about your project
  +textarea('What problem are you trying to solve?', true)
  +textarea('What benefits do you expect to gain from solving this problem?', true)
  +textarea('What steps have you taken to solve it?')
  label Who else is working on this?&nbsp;#[small Optional]
  +radio('We need Small Batch to put together a team.', 'Who else is working on this?', true)
  +radio('We have an in-house team that will implement while consulting with Small Batch.', 'Who else is working on this?', true)
  +radio('We want our in-house team to consult with and collaborate with Small Batch.', 'Who else is working on this?', true)
