doctype html
html.supports-no-js(lang='en')
  block vars
  head
    include partials/document_head

  body
    block content

    link(rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Martel:400,700')
    link(rel='stylesheet' href='/stylesheets/non_critical.css?v=' + Date.now())

    script(src='/javascript/vendor/respond.min.js')
    script(src='/javascript/bundle.js?v=' + Date.now())

    block script
