extends _layout

block content
  header#header
    .container
      :markdown-it
        # Hello, we’re Small Batch.

        We build software solutions for the web in collaboration with startups, designers, product developers, small business owners, and creative agencies.

        [Let’s start something.](#tell-us-about-your-project 'Tell us about your project.')

        Or learn more about our practice below.

  main#main
    .container
      :markdown-it
        ## We advocate for your users.
        Accessibility and user experience are paramount to the success of digital products. We focus on serving the folks who will use your tools: your **customers**, **employees**, **partners**, or **beneficiaries**; and we consider it our responsibility to understand who they are, what goals they aim to accomplish, and what conditions might frame their interaction with a digital interface. We take a holistic approach towards building robust and accessible solutions, keeping your users firmly in mind.

        ## We do our best work in collaboration.
        Design and development are collaborative endeavors. Our practice is firmly rooted in engaging our partners and clients throughout the problem-solving process, from discovery through to build and deployment. Likewise, we are at our best when we are allowed to contribute to a project early and often.

        ## We’re not another vendor; we’re your partners.
        We bring experience and expertise to the table, and we’ve found they are most effective when we treat our relationship with you as more than a mere rendering of services.

        We’ve consulted with in-house design teams to improve their interface design; conducted show-and-tell sessions with development teams to improve their adoption of front-end best practices; and led the design, implementation, and deployment of an application ecosystem for a rising startup. We’ve also partnered with creative agencies to help them deliver quality, accessible websites that perform well under a variety of circumstances. Each one of those successes is in no small part due to the nature of our relationship with our clients.
  footer#footer
    .container#tell-us-about-your-project
      :markdown-it
        ## Tell us about your project.
        We think there’s a damn good chance we can work together. Please email us at [hello@asmallbatch.co](mailto:hello@asmallbatch.co?subject=Let’s%20build%20something%20together), and answer these questions as best as you can:

        1. What problems are you trying to solve?
        2. Is this a new challenge, or has your organization been struggling with it for some time?
        3. How would you describe the ideal outcome to this project?

        Please note that there are no right answers. _“I have no idea”_ or _“that’s what I need you for!”_ are perfectly reasonable —and valuable— responses to any of these questions.
