extends _layout

block content
  include partials/header

  main#main
    .container
      :markdown-it
        ## We engage at&nbsp;every&nbsp;stage.
        We dig into the problem-solving process, from discovery and the build all the way through deployment. We’re at our best when contributing early and often.

        ---

        ## We build with you.
        We don’t roll in with prefabs that more or less suit your plans. We learn you. We think with you. Then we craft solutions for you with you.

        ---

        ## We champion your&nbsp;users.
        Part of learning you is learning your users. Once we know where they want to go, we build software that gets them there in good time and in one piece.

        ---

      include partials/testimonials

  hr#tell-us-about-your-project

  include partials/footer
