footer#footer
  .container
    :markdown-it
      ## Tell us about your&nbsp;project.
      We think there’s a damn good chance we can work together. Please email us at [hello@asmallbatch.co](mailto:hello@asmallbatch.co?subject=Let’s%20build%20something%20together), and answer these questions as best as you can:

      1. What problems are you trying to solve?
      2. Is this a new challenge, or has your organization been struggling with it for some time?
      3. How would you describe the ideal outcome to this project?

      ---

      Please note that there are no wrong answers. _“I have no idea”_ or _“that’s what I need you for!”_ are perfectly reasonable —and valuable— responses to any of these questions.
