footer#footer
  .container
    h2 Tell us about your&nbsp;project.

    p We think there’s a damn good chance we can work together. Please fill out and submit the form below and we’ll get in touch with you within the next two business days.

    include contact_form/form

    hr

    p Alternatively, feel free to answer these questions by emailing #[a(href='mailto:hello@asmallbatch.co?subject=Let’s%20start%20something.') hello@asmallbatch.co].
