footer#footer
  .container
    h2 Tell us about your&nbsp;project.
    p We think there’s a damn good chance we can work together. Please email us at #[a(href='mailto:hello@asmallbatch.co?subject=Let’s%20build%20something%20together') hello@asmallbatch.co], and answer these questions as best as you can:
    ol
      li What problems are you trying to solve?
      li Is this a new challenge, or has your organization been struggling with it for some time?
      li How would you describe the ideal outcome to this project?
    hr
    p Please note that there are no wrong answers. #[em “I have no idea”] or #[em “that’s what I need you for!”] are perfectly reasonable —and valuable— responses to any of these questions.
