header#header
  .container
    h1 #[span Hello, we’re] #[span Small Batch.]
    p We build software solutions for the web in collaboration with startups, designers, product developers, small business owners, and creative agencies.
    p: a(href='#tell-us-about-your-project' title='Tell us about your project.') Let’s start something.
    hr
    p Learn more about our practice below.
