header#header
  .container
    h1 #[span Hello, we’re] #[span Small Batch.]
    :markdown-it

      We build software solutions for the web in collaboration with startups, designers, product developers, small business owners, and creative agencies.

      [Let’s start something.](#tell-us-about-your-project 'Tell us about your project.')

      ---

      Learn more about our practice below.
