h2 Take our clients&rsquo; word for it: they love what we do.
p.lead We often establish long-term relationships with our clients. We asked some of them about the value Small Batch brings to the table, and here&rsquo;s what they had to say&hellip;

blockquote
  p I&rsquo;ve worked with software developers from all over the world, from India and Brazil, to San Francisco, when it comes to working with contracted developers, trust and communication is paramount. Now having worked with Alfonso and Arne of Small Batch for over two years, they not only have seamless communication with myself as a client but also my team. #[strong Since day one they have taken great pride in their work, providing code that I can trust.]
  footer
    cite Benjamin Graves
    span CEO, Stacked Sports
    img(src='/images/testimonials/stacked_sports_logo.png' srcset='/images/testimonials/stacked_sports_logo@2x.png 2x' alt='Stacked Sports logo')

blockquote
  p Through the work provided by Alfonso and Arne of Small Batch, #[strong #[abbr(title='Chattanooga Area Regional Transportation Authority') CARTA] was able to offer its customers a cost-effective solution for real-time bus information using the simplicity of texting.] According to a recent survey, 86% of CARTA’s customers have access to a cell phone with text messaging. Offering real-time bus schedule information through texting expands the number of our customers who have access to information critical in planning their trips.
  footer
    cite Annie Powell
    span Director of Grants, Technology, and Research, CARTA
    img(src='/images/testimonials/carta_logo.png' srcset='/images/testimonials/carta_logo@2x.png 2x' alt='CARTA logo')

blockquote
  p #[strong The Small Batch team is our preferred local development partner at ndp.] We can count on Arne and Alfonso to deliver quality work on time and on budget, with the communication and collaboration to match.
  footer
    cite Jonathan Ariail
    span Digital Project Manager, ndp
    img(src='/images/testimonials/ndp_logo.png' srcset='/images/testimonials/ndp_logo@2x.png 2x' alt='ndp logo')

svg.defs-only
  filter(id="monochrome" color-interpolation-filters="sRGB"
  x="0" y="0" height="100%" width="100%")
    feColorMatrix(type="matrix"
      values="0.95 0 0 0 0.2 0.85 0 0 0 0.27 0.85 0 0 0 0.3 0    0 0 1 0")/
