h1, h2, h3, h4, h5
  font-weight normal
  color #000
  margin 0
  line-height 1.2em

h2
  font-size 2em
  margin 1em 0 0

h3
  font-size 1em

p
  text-indent 1em
  margin 0.9em 0
  h1 + &, h2 + &, h3 + &, footer &, &.no-indent
    text-indent 0

strong
  font-weight normal
