h1, h2, h3, h4, h5
  font-weight normal
  margin 0
  line-height 1.2em
  p + &, ul + &, ol + &, blockquote + &
    margin-top 2em

h1
  font-size 2em

h2
  font-size 1.6em

h3
  font-size 1em

p
  text-indent 0
  margin 0.9em 0
  p + &, &.indent
    text-indent 1em

strong
  font-weight normal
