em(target, context = $basefont)
  (target / context) * 1em

embossed()
  $shadow_color = invert($gray)
  if arguments == 'light'
    $shadow_color = $gray
  box-shadow 1px 1px 1px $shadow_color

hostile_takeover(type = absolute)
  position type
  top 0
  left 0
  right 0
  bottom 0

proportional_magic(height)
  position relative
  overflow hidden
  .dummy
    width 100%
    height 0
    margin-top height
  .dummy-content
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    overflow hidden

button()
  display block
  padding 0.2em 0.6em 0.1em
  margin 1.6em 0
  max-width em(310, 22)
  background-color $accent
  font-weight 700
  color $dark
  text-indent 0
  text-align center
  border 4px solid $accent
  border-radius 1.5px
  transition-property border-color
  outline none
  &:focus, &:hover
    border-color #fff
