// Colors


// Type
$type-size-reg = 16
$type-size-reg-lead = 24
$type-size-lar = 22
$type-size-lar-lead = 28
$type-size-huge = 42
$type-size-huge-lead = 44
$font-stack-main = 'Helvetica Neue LT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-stack-mono = Courier, mono
$basefont = 18

// Breakpoint device sizes
$phone-l = 480px
$tablet-p = 768px
$tablet-l = 1024px
$laptop = 1280px
$desktop = 1440px
$monster = 1800px

// Animation Speeds
$anim-slow = 0.7s
$anim-snappy = 0.05s

// Stylistic conventions
$radius = 2px
